<ion-navbar *navbar>
    <ion-title>{{chat['name']}}</ion-title>
</ion-navbar>
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="#message of messages">
            <ion-item>
                <ion-avatar item-left>
                    <img src="http://ionicframework.com/dist/preview-app/www/img/stantz.jpg">
                </ion-avatar>
                <h2>{{message['author']['first_name']}}</h2>
                <p>{{message['message']}}</p>
            </ion-item>
            <ion-item-options>
                <button primary>
                    <ion-icon name="text"></ion-icon>
                    Text
                </button>
                <button secondary>
                    <ion-icon name="call"></ion-icon>
                    Call
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-row>
        <ion-col width-10>
            <button small primary>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-col>
        <ion-col width-70>
            <ion-input type="text" placeholder="New Message" [(ngModel)]="newMessage"></ion-input>
        </ion-col>
        <ion-col width-10>
            <button small primary (click)="sendMessage()">
                <ion-icon name="send"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-content>